*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

.container{
    /* width: 100%;
    height: 100vh;
    background-image: url(contact.jpg);
    display: flex;
    align-items: center;
    justify-content: center; */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(contact.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100% ;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: #3d3d3d;
	padding:12px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 25px;
	letter-spacing: 1.5px;
    margin-top: 30px;
}
.btn :hover{
	background-color: #a52a2a;
	color:#fff;
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50% ,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50% ,-50%) scale(1);


}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 2);

}

.popup h2{
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0 20px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 2);
}